body{
    margin:0;
    background-color: #1B1B1B !important;
    overflow-x: hidden !important;
}
#body-ar{
    font-family: 'Cairo';
}
#main-bc{
    width: 100%;
    height: 100%;
}
#main-bc-s{
    background-image: url(../images/Rectangle2.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}
#upper-layer{
    background-image: url(../images/Rectangle2.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;

}
#upper-layer-s{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0%;
}
#navbar{
    width: 95%;
}
.seperator{
    width: 100%;
    height: 5px;
    background-color:#383838;
}
#Logo{
    height: 140px;
}
#header{
   top: 0;
   width: 100%;
   position: absolute;
}
#offcanvasRight{
    background-color: #1B1B1B;
}
#club-name{
    width: 400px;
    color: white;
    font-weight: 100;
    font-size: 68px;
    margin-left: 2em;
}
#club-name-ar{
    width: 500px;
    color: white;
    font-weight: 100;
    font-size: 68px;
    margin-left: 2em;
}
#club-struct-title{
    color: white;
    font-weight: 100;
    font-size: 68px;
    position: absolute;
    top: 45%;
    /*margin-left: 7.2em;*/
}
#dark-container{
    background-color: #131313;
}
.lang-btn{
    border-radius: 70px;
    width: 3em;
    text-align: center;
}
#ar-btn{
    font-family: 'Cairo';
    font-weight: 100;
}
.non-active-lang{
    border: 1px solid rgb(203, 203, 203);
}
.non-active-lang:hover{
    background-color: #1e1e1e;
}
.active-lang{
    background-color: #008D9A;
}
#en-btn{
    font-weight: 200;
}
.active-lang:hover{
    background-color: #00737e;
}
.current-tab{
    background-color: white;
    border-radius: 20px;
    height: 3px;
    width: 85%;
}
.nav-link{
    color: white !important;
    font-weight: 100;
    font-size: 26px;
}
.paragraphs{
    color: white;
    font-weight: 100;
    font-size: 26px;
}
.titles{
    color: white;
    font-weight: 100;
    font-size: 36px;
}
.titles-underline{
    background-color: #008D9A;
    height: 6px;
    border-radius: 20px;
}
.light{
    height: 220px;
    margin-right: 0.6em;
    margin-top: -7em;
    z-index: -1;
}
#vision-container{
    padding: 9em;
}
.navbar-toggler-icon{
    color:white;
}
#closebtn{
    color: white !important;
}
#text-reset{
    color: white;
}
.btn-close{
    color: white;
}
.social{
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
}
.social:hover{
    color:#bdbdbd;
}
#speech-img{
    height: 400px;
}
@media screen and (max-width: 420px){
    #tech-img{
        height: 300px;
        align-self: flex-end; 
    }
}
@media screen and (max-width: 375px){
    #club-name{
        font-size: 32px;
        align-self: center;
        width: 100%;
    }
    #main-bc-drone{
        height: 280px;
        align-self: flex-end;
    }
}
@media screen and (min-width: 375px) and (max-width: 650px){
    #club-name{
        font-size: 42px;
        align-self: center;
        width: 100%;
    }
    #main-bc-drone{
        height: 280px;
        align-self: flex-end;
    }
}
@media screen and (min-width: 650px) and (max-width: 717px){
    #main-bc-drone{
        height: 300px;
        align-self: flex-end;
    }
    #club-name{
        font-size: 36px;
        align-self: center;
        width: 100%;
    }
}
@media screen and (max-width: 650px){
    #Logo{
        height: 120px;
    }
    #speech-img{
        height: 350px;
        width: 270px;
        align-self: center;
    }
}
@media screen and (min-width: 718px) and (max-width: 991px){
    #main-bc-drone{
        height: 450px;
        align-self: flex-end;
    }
    #club-name{
        font-size: 50px;
        align-self: center;
        width: 100%;
    }
}
@media screen and (min-width: 651px) and (max-width: 991px){
    #Logo{
        height: 120px;
    }
    #speech-img{
        height: 350px;
        width: 270px;
        align-self: center;
    }
}
@media screen and (min-width: 421px) and (max-width: 660px){
    #tech-img{
        height: 400px;
        align-self: flex-end; 
    }
}
@media screen and (max-width: 770px){
    .objective-icon{
        height: 200px;
        width: 200px;
        align-self: center;
        margin-bottom: 1em;
    }
    #vision-container{
        padding: 3em;
    }
}
@media screen and (min-width: 421px) and (max-width: 770px){
    .objective-icon{
        height: 200px;
        width: 200px;
        align-self: center;
        margin-bottom: 1em;
    }
    #vision-container{
        padding: 3em;
    }
    #speech-img{
        height: 400px;
        width: 300px;
        align-self: center;
    }
    #tech-img{
        height: 400px;
        align-self: flex-end; 
    }
    #main-bc-drone{
        align-self: flex-end;
    }
    #club-name{
        align-self: flex-start;
    }
}
@media screen and (min-width: 720px) and (max-width: 991px){
    #speech-img{
        height: 400px;
        width: 300px;
        align-self: center;
    }
    #tech-img{
        height: 420px;
    }
    #vision-container{
        padding: 2em;
    }
    #vision-title{
        align-self: flex-start;
    }
    #main-bc-drone{
        align-self: flex-end;
        height: 350px;
    }
    #club-name{
        align-self: flex-start;
        font-size: 40px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    #vision-container{
        padding: 3em;
    }
    #tech-img{
        height: 490px;
        align-self: flex-end; 
    }
    #main-bc-drone{
        align-self: flex-end;
        height: 400px;
    }
    #club-name{
        align-self: flex-start;
    }
}

